# Created by venv; see https://docs.python.org/3/library/venv.html

build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

.idea/
.vscode/
venv/
env/
ENV/
.env/